<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.erp.dao.LoginMapper" >
  <resultMap id="BaseResultMap" type="com.nt.erp.model.Login" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="loginaccount" property="loginaccount" jdbcType="VARCHAR" />
    <result column="loginpasswd" property="loginpasswd" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from login
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nt.erp.model.Login" >
    insert into login (id, loginaccount, loginpasswd
      )
    values (#{id,jdbcType=INTEGER}, #{loginaccount,jdbcType=VARCHAR}, #{loginpasswd,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nt.erp.model.Login" >
    update login
    set loginaccount = #{loginaccount,jdbcType=VARCHAR},
      loginpasswd = #{loginpasswd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, loginaccount, loginpasswd
    from login
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, loginaccount, loginpasswd
    from login
  </select>
</mapper>