<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nari.mip.card.mapper.InsertServiceDao">

    <!--查询设备信息表-->
    <select id="getServiceInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
        T.serviceId as "serviceId" ,T.serviceName as "serviceName"
        FROM
        (
        SELECT
        ROWNUM AS rowno,
        c.*
         FROM t_service_info c
        <where>
            <![CDATA[ AND ROWNUM <= #{currentPage} * #{count}]]>
            AND SERVICEID LIKE '%${serviceID}%'
        </where>
        ) T
        WHERE
        <![CDATA[ T .rowno > (#{currentPage} -1 ) * #{count}]]>
    </select>

    <select id="getServiceInfoCount" parameterType="java.util.HashMap" resultType="nari.mip.card.model.Pagination">
        SELECT COUNT(1) AS "totalItems"
        FROM
            t_service_info
        where 
        	SERVICEID LIKE '%${serviceID}%'
    </select>
    
    <delete id ="deleteServiceInfo" parameterType="java.util.HashMap" >
    	DELETE FROM t_service_info WHERE SERVICEID=#{serviceid}
    </delete>
    
    <update id="updateServiceInfo" parameterType="java.util.HashMap">
    	UPDATE t_service_info  
    	SET 
    		SERVICENAME      = #{servicename}    		
       	WHERE
			SERVICEID        = #{serviceid}
    </update>

	<insert id="setServiceInfo" parameterType="java.util.HashMap">
		insert into t_service_info
		(	SERVICEID,
			SERVICENAME
			)
			values
		(	#{serviceid},
			#{servicename}
			)
	</insert>
	
	<!-- card的模糊查询 -->
	<select id="getBlurServiceInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		
		select 
			 T.serviceId as "serviceId" ,
			 T.serviceName as "serviceName" 
		from 
			t_service_info T 
		where  
           T.serviceid like  '%${serviceID}%'  
       
	</select>
	
</mapper>
