
<section>
    <p class="OwnerManage">裁剪管理</p>
    <div class="row add-search">
        <form class="col-sm-12" id="configForm">
            <ul class="list-inline" >
            	<!--  <li>
                    <span>服务ID</span>
                    <input  ng-model="serviceID">
                </li> -->
                
                
                <li>
                 	<div>
                    	<input type="text" placeholder="请输入款号" style="width:180px" ng-model="styleid"></input>
                    </div>
                </li>
                
                <li>
                    <input type="text" placeholder="请输入款名" style="width:180px" ng-model="stylename"></input>
                </li>
                
                <li>
                	<input class="span2" placeholder="请选择日期" style="width:180px" type="text" ng-model="orderdate">
                </li>

                <li style="border:none">
                    <button ng-click="toSearch()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> 查询
                    </button>
                </li>
            </ul>
        </form>
         
        <!-- <div class="col-xs-4 btn-group">
            <button ng-click="saveOrUpdataService($index)" class="btn btn-primary" style="float: right">
                <span class="glyphicon glyphicon-plus"></span>添加服务
            </button>
        </div> -->
       
        
        
    </div>

    <!--列表-->
    <!-- <div class="container list-box clearfix">
        <table class="col-sm-12 table-condensed">
            <thead>
            <tr>
                <th>
                    <div class="col-sm-1 text-center"><p>序号</p></div>
                </th>
                <th>
                    <div class="col-sm-1 text-center"><p>款号</p></div>
                </th>
                <th>
                    <div class="col-sm-1 text-center"><p>颜色</p></div>
                </th>
                  
                <th>
                    <div class="col-sm-1 text-center"><p>订单时间</p></div>
                </th>
                <th>
                    <div class="col-sm-1 text-center"><p>款名</p></div>
                </th>
                <th>
                    <tr><div class="col-xs-2 text-center"><th><p>S</p></th></div></tr>
                    <tr><th>dd</th><th>a</th>
                    
                    </tr>
                </th>
                
                <th>
                    <div class="col-sm-1 text-center"><p>M</p></div>
                </th>
                
            </tr>

            </thead>
            <tbody class="row" ng-repeat="data in datalist">
            <tr>
                <td>{{$index+1}}</td>
                <td>{{data.serviceId}}</td>
                <td>{{data.serviceName}}</td>
                
                <td>{{data.cardContent}}</td>
                <td>{{data.appId}}</td>
                <td>{{data.cardType}}</td>
                
                <td>
                    <p class="bt-span">
                    	<span title="编辑" ng-click="saveOrUpdataService($index)" class="glyphicon glyphicon-pencil"></span>
                        <span title="查看" ng-click="detail($index)" class="glyphicon glyphicon-list-alt"></span>
                        <span title="删除" ng-click="deleteData($index)" class="glyphicon glyphicon-remove-circle"></span>
                        
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div> -->
    <div class="container list-box clearfix">
    <table id="tb_report" style="width:100%" >
        <thead style="heigth:100%">
            <tr style="height:30px">
            	<th rowspan="2" class="text-center" style="width:10px">序号</th>
           		<th rowspan="2" class="text-center" style="width:30px">款号</th>
           		<th rowspan="2" class="text-center" style="width:10px">颜色</th>
           		<th rowspan="2" class="text-center" style="width:20px">订单时间</th> 
           		<th rowspan="2" style="width:200px" class="text-center">款名</th>
           		<th colspan="3" rowspan="1" class="text-center">S</th>
           		<th colspan="3" rowspan="1" class="text-center">M</th>
           		<th colspan="3" rowspan="1" class="text-center">L</th>
           		<th colspan="3" rowspan="1" class="text-center">XL</th>
           		<th colspan="3" rowspan="1" class="text-center">XXL</th>
           		<th colspan="3" rowspan="1" class="text-center">XXXL</th>
           		<th colspan="3" rowspan="1" class="text-center">合计</th>
            </tr>
           
			<tr style="height:30px">
				<th rowspan="1"  style="width:30px"class="text-center">
           			<span class="iconfont icon-ico-order"></span>
           		</th>
           		<th rowspan="1" style="width:30px" class="text-center">
           			<span class="iconfont icon-icon_zhengque"></span>
           		</th>
           		<th rowspan="1" style="width:30px" class="text-center">
           			<i class="iconfont icon-icon_cuowu"></i>
           		</th>
           		
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div ><i class="iconfont icon-ico-order"></i></div>
           		</th>
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-icon_zhengque"></i></div>
           		</th>
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-icon_cuowu"></i></div>
           		</th>
           		
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-ico-order"></i></div>
           		</th>
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-icon_zhengque"></i></div>
           		</th>
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-icon_cuowu"></i></div>
           		</th>
           		
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-ico-order"></i></div>
           		</th>
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-icon_zhengque"></i></div>
           		</th>
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-icon_cuowu"></i></div>
           		</th>
           		
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-ico-order"></i></div>
           		</th>
           		<th  rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-icon_zhengque"></i></div>
           		</th>
           		<th rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-icon_cuowu"></i></div>
           		</th>
           		
           		<th rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-ico-order"></i></div>
           		</th>
           		<th rowspan="1" style="width:30px" class="text-center" >
           			<div class="cell"><i class="iconfont icon-icon_zhengque"></i></div>
           		</th>
           		<th rowspan="1" style="width:30px" class="text-center" >
           			<div class="cell"><i class="iconfont icon-icon_cuowu"></i></div>
           		</th>
           		
           		<th rowspan="1" style="width:30px" class="text-center" >
           			<div><i class="iconfont icon-ico-order"></i></div>
           		</th>
           		<th rowspan="1" style="width:30px" class="text-center" >
           			<div class="cell"><i class="iconfont icon-icon_zhengque"></i></div>
           		</th>
           		<th rowspan="1" style="width:30px" class="text-center" >
           			<div class="cell"><i class="iconfont icon-icon_cuowu"></i></div>
           		</th>
           		
			</tr>
        </thead>
        <tbody class="row" ng-repeat="data in datalist">
           <!--  <tr>
                <td>{{$index+1}}</td>
                <td>{{data.serviceId}}</td>
                <td>{{data.serviceName}}</td>
                
                <td>{{data.cardContent}}</td>
                <td>{{data.appId}}</td>
                <td>{{data.cardType}}</td>
                
                <td>
                    <p class="bt-span">
                    	<span title="编辑" ng-click="saveOrUpdataService($index)" class="glyphicon glyphicon-pencil"></span>
                        <span title="查看" ng-click="detail($index)" class="glyphicon glyphicon-list-alt"></span>
                        <span title="删除" ng-click="deleteData($index)" class="glyphicon glyphicon-remove-circle"></span>
                        
                    </p>
                </td>
            </tr> -->
            <tr>
            <td>{{data.stylename}}</td>
            <td>{{data.styleid}}</td>
            </tr>
            
            </tbody>
    </table>
     </div>
    <!--分页控件-->
    <div class="pagination-list">
        <ul uib-pagination id="pagination" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage"
            max-size="maxSize"
            class="pagination-sm"
            boundary-links="true" items-per-page="20" num-pages="numPages"></ul>
        <pre>页数: {{currentPage}} / {{numPages}}</pre>
    </div>
    <!--分页控件结束-->
    <!--修改配置-->
    <div class="modal fade" id="configEdit">
        <div class="col-md-12">
            <div class="orgDetail-edit">
                <div class="row">
                    <div class="col-xs-6">{{title}}</div>
                    <div class="col-xs-6 text-right bt-span">
                        <span class="remove" data-dismiss="modal">&times;</span>
                    </div>
                </div>
                <div class="orgAdd-body">
                    <input type="hidden" ng-model="sysInfoTemp.sysuuid">
                    <div class="row" >
                        <div class="col-xs-4 text-left t">服务ID</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="serviceid" type="text" name="serviceid" ng-model="serviceInfoTemp.serviceid">
                        </div>
                    </div>
                    <!--  
                     <div class="row" >
                        <div class="col-xs-4 text-left t">卡片生成时间</div>
                        <div class="col-xs-8">
                        	<div class="controls input-append date form_datetime" data-date="2017-07-11T05:25:07Z">
                    			<input class="isDisabled"  id="cardtime" type="text" name="cardtime" ng-model="cardInfoTemp.cardtime">
               				 </div>
							
                        </div>
                    </div>
                    
                    <div class="row" >
                        <div class="col-xs-4 text-left t">卡片标题</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="cardtitle" type="text" name="cardtitle" ng-model="cardInfoTemp.cardtitle">
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-xs-4 text-left t">卡片内容</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="cardcontent" type="text" name="cardcontent" ng-model="cardInfoTemp.cardcontent">
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-xs-4 text-left t">卡片图片url</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="cardurl" type="text" name="cardurl" ng-model="cardInfoTemp.cardurl">
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-xs-4 text-left t">卡片类型</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="cardtype" type="text" name="cardtype" ng-model="cardInfoTemp.cardtype">
                        </div>
                    </div>
                    
                    <div class="row" >
                        <div class="col-xs-4 text-left t">卡片所属应用</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="appid" type="text"  ng-model="cardInfoTemp.appid">
                        </div>
                    </div>
                    
                   
                    
                    
                    <div class="row" >
                        <div class="col-xs-4 text-left t">应用包名</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="pkgname" type="text" name="pkgname" ng-model="cardInfoTemp.pkgname">
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-4 text-left t">应用入口</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="entryactivity" type="text" name="entryactivity" ng-model="cardInfoTemp.entryactivity">
                        </div>
                    </div>
                    -->
                    <div class="row" >
                        <div class="col-xs-4 text-left t">服务名称</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="servicename" type="text" name="servicename" ng-model="serviceInfoTemp.servicename">
                        </div>
                    </div>
                </div>
                <div class="row orgAdd-foot">
                    <button class="btn  btn-default" type="button" data-dismiss="modal">取消</button>
                    <button id="saveBtn" ng-click="submit()" class="btn  btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--修改配置-->
</section>