
<section>
    <p class="OwnerManage">出错汇总</p>
    <div class="row add-search">
        <form class="form-inline" style="padding-left:15px" id="configForm">
                
                <div class='input-group date' datetimepicker id="orderdate">  
                    <input type='text' class="form-control" style="width:180px" placeholder="请选择日期" ng-model="orderdate"/>  
                    <span class="input-group-addon">  
                        <span class="glyphicon glyphicon-calendar"></span>  
                    </span>  
                </div>  
              
        </form>
    </div>

   
    <div class="container list-box clearfix">
    <table id="tb_report" style="width:100%" >
        <thead style="heigth:100%">
            <tr style="height:30px">
            	<th rowspan="1" class="text-center" style="width:10px">序号</th>
           		<th rowspan="1" class="text-center" style="width:100px">款号</th>
           		<th rowspan="1" class="text-center" style="width:100px">订单时间</th> 
           		<th rowspan="1" style="width:200px" class="text-center">款名</th>
           		<th rowspan="1" style="width:100px" class="text-center">交易状态</th>
           		<th rowspan="1" style="width:100px" class="text-center">订单数</th>
           		
            </tr>

        </thead>
        <tbody class="row" ng-repeat="data in datalist">

            <tr class="text-center">
	            <td>{{$index+1}}</td>
	            <td>{{data.styleid}}</td>
	            <td>{{data.orderdate | date:'yyyy-MM-dd'}}</td>
	            <td>{{data.stylename}}</td>
	           <!--  <td>{{data.transtate}}</td>
	            <td>{{data.amount}}</td> -->
	            <td>{{data.styleid}}</td>
	            <td>{{data.styleid}}</td>
	            
            </tr>
            
            </tbody>
    </table>
     </div>
    <!--分页控件-->
    <div class="pagination-list">
        <ul uib-pagination id="pagination" ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage"
            max-size="maxSize"
            class="pagination-sm"
            boundary-links="true" items-per-page="20" num-pages="numPages"></ul>
        <pre>页数: {{currentPage}} / {{numPages}}</pre>
    </div>
    <!--分页控件结束-->
    <!--修改配置-->
    <div class="modal fade" id="configEdit">
        <div class="col-md-12">
            <div class="orgDetail-edit">
                <div class="row">
                    <div class="col-xs-6">{{title}}</div>
                    <div class="col-xs-6 text-right bt-span">
                        <span class="remove" data-dismiss="modal">&times;</span>
                    </div>
                </div>
                <div class="orgAdd-body">
                    <input type="hidden" ng-model="sysInfoTemp.sysuuid">
                    <div class="row" >
                        <div class="col-xs-4 text-left t">服务ID</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="serviceid" type="text" name="serviceid" ng-model="serviceInfoTemp.serviceid">
                        </div>
                    </div>
                  
                    <div class="row" >
                        <div class="col-xs-4 text-left t">服务名称</div>
                        <div class="col-xs-8">
                            <input class="isDisabled" id="servicename" type="text" name="servicename" ng-model="serviceInfoTemp.servicename">
                        </div>
                    </div>
                </div>
                <div class="row orgAdd-foot">
                    <button class="btn  btn-default" type="button" data-dismiss="modal">取消</button>
                    <button id="saveBtn" ng-click="submit()" class="btn  btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--修改配置-->
</section>