
<section>
     <!-- <p class="OwnerManage">供应商往来</p> -->
     <div class="page-header" style="margin:20px 0 2px;">
  		<h1>供应商往来</h1>
	</div>
   <!--  <div >
	   <form class="form-inline" id="toolbar"> 

	           <button style="border:none;margin-top:15px"  onclick="addNewGys()" class="btn btn-info">
		       	新增供应商
		     	</button>
		     
		     	<button style="border:none;margin-top:15px" onclick="deleteGys()" class="btn btn-danger">
		                   删除选中项
		     	</button>
      
	 </form>
 	</div>  -->
 	<div>
 	<form class="form-inline" style="padding-bottom:15px" role="form">
    
	      <button style="border:none;margin-top:15px"  onclick="addNewGys()" class="btn btn-info">
		       	新增供应商
		     	</button>
		     
		     	<button style="border:none;margin-top:15px" onclick="deleteGys()" class="btn btn-danger">
		                   删除选中项
		     	</button>
                    
 </form>
 </div>
   <div>
   <!--  <button id="exportBtn" class="glyphicon glyphicon-export right" style="border:none" ng-click="ShowExport()">
                Excel导出</button> -->
    <table id="tb_report">
    </table>
    </div>
     
    <!--修改配置-->
    <div class="modal fade" id="addGys">
        <div class="col-xs-12" style="margin-top:180px">
            <div class="orgDetail-edit">
                <div class="row">
                    <div class="col-xs-6"><p id ="gysTitle"></p></div>
                    <div class="col-xs-6 text-right bt-span">
                        <span class="remove" data-dismiss="modal">&times;</span>
                    </div>
                </div>
                <div class="orgAdd-body">
                    <input type="hidden" ng-model="sysInfoTemp.sysuuid">
                    <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">付款类型:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="fukuanleixing" type="text" name="fukuanleixing">
                        </div>
                       
                    </div>
                      
                    <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">供应商名称:</div>
                        <div class="col-xs-6">
                        	<div class="controls input-append date form_datetime" data-date="2017-07-11T05:25:07Z">
                    			<input class="isDisabled"  id="gongyingshangmingcheng" type="text" name="gongyingshangmingcheng" >
               				 </div>
							
                        </div>
                    </div> 
                    
                    <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">事由:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="shiyou" type="text" name="shiyou" >
                        </div>
                    </div>
                    
                     <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">支付方式:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="zhifufangshi" type="text" name="zhifufangshi" >
                        </div>
                    </div>
                    
                     <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">发票信息:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="fapiaoxinxi" type="text" name="fapiaoxinxi">
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">发票税率:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="fapiaoshuilv" type="text" name="fapiaoshuilv">
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">合同总金额:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="hetongzongjine" type="text" name="hetongzongjine">
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">付款日期:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="fukuanriqi" type="text" name="fukuanriqi">
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">入库总金额:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="hetonrukuzongjinegzongjine" type="text" name="rukuzongjine">
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">状态:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="zhuangtai" type="text" name="zhuangtai">
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">申请日期:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="shenqingriqi" type="text" name="shenqingriqi">
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">部门:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="bumen" type="text" name="bumen">
                        </div>
                    </div>
                     <div class="row" >
                        <div class="col-xs-4 text-right" style="padding-top:7px">经办人:</div>
                        <div class="col-xs-6">
                            <input class="isDisabled" id="jingbanren" type="text" name="jingbanren">
                        </div>
                    </div>
                </div>
                <div class="row orgAdd-foot">
                    <button class="btn  btn-default" type="button" data-dismiss="modal">取消</button>
                    <button id="saveBtn" onclick="submitgys()" data-dismiss="modal" class="btn  btn-info">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!--修改配置-->
    
    <!-- 删除提示 -->
    <div class="modal fade" id="delgysOverhaul" role="dialog" tabindex="-1">
       <div class="modal-dialog">
                <div class="modal-content message_align">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">提示</h4>
                    </div>
                    <div class="modal-body">
                        <p id="deletegyscontent"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                            data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-info" aria-hidden="true"
                          data-dismiss="modal"  onclick="deleteGysBtn()" id="deleteGysBtn">确认</button>
                    </div>
                </div>                    
        </div>           
    </div>
    
    
    <!-- 删除提示 -->
</section>