<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nt.erp.dao.InfoMapper" >
  <resultMap id="BaseResultMap" type="com.nt.erp.model.Info" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="totalsizeleft" property="totalsizeleft" jdbcType="INTEGER" />
    <result column="totalsizemodify" property="totalsizemodify" jdbcType="INTEGER" />
    <result column="totalsizenumber" property="totalsizenumber" jdbcType="INTEGER" />
    <result column="xxxlsizeleft" property="xxxlsizeleft" jdbcType="INTEGER" />
    <result column="xxxlsizemodify" property="xxxlsizemodify" jdbcType="INTEGER" />
    <result column="xxxlsizenumber" property="xxxlsizenumber" jdbcType="INTEGER" />
    <result column="xxlsizeleft" property="xxlsizeleft" jdbcType="INTEGER" />
    <result column="xxlsizemodify" property="xxlsizemodify" jdbcType="INTEGER" />
    <result column="xxlsizenumber" property="xxlsizenumber" jdbcType="INTEGER" />
    <result column="xlsizeleft" property="xlsizeleft" jdbcType="INTEGER" />
    <result column="xlsizemodify" property="xlsizemodify" jdbcType="INTEGER" />
    <result column="xlsizenumber" property="xlsizenumber" jdbcType="INTEGER" />
    <result column="lsizeleft" property="lsizeleft" jdbcType="INTEGER" />
    <result column="lsizemodify" property="lsizemodify" jdbcType="INTEGER" />
    <result column="lsizenumber" property="lsizenumber" jdbcType="INTEGER" />
    <result column="msizeleft" property="msizeleft" jdbcType="INTEGER" />
    <result column="msizemodify" property="msizemodify" jdbcType="INTEGER" />
    <result column="msizenumber" property="msizenumber" jdbcType="INTEGER" />
    <result column="ssizeleft" property="ssizeleft" jdbcType="INTEGER" />
    <result column="ssizemodify" property="ssizemodify" jdbcType="INTEGER" />
    <result column="ssizenumber" property="ssizenumber" jdbcType="INTEGER" />
    <result column="orderdate" property="orderdate" jdbcType="DATE" />
    <result column="stylename" property="stylename" jdbcType="VARCHAR" />
    <result column="styleid" property="styleid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from infos
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nt.erp.model.Info" >
    insert into infos (id, totalsizeleft, totalsizemodify, 
      totalsizenumber, xxxlsizeleft, xxxlsizemodify, 
      xxxlsizenumber, xxlsizeleft, xxlsizemodify, 
      xxlsizenumber, xlsizeleft, xlsizemodify, 
      xlsizenumber, lsizeleft, lsizemodify, 
      lsizenumber, msizeleft, msizemodify, 
      msizenumber, ssizeleft, ssizemodify, 
      ssizenumber, orderdate, stylename, 
      styleid)
    values (#{id,jdbcType=INTEGER}, #{totalsizeleft,jdbcType=INTEGER}, #{totalsizemodify,jdbcType=INTEGER}, 
      #{totalsizenumber,jdbcType=INTEGER}, #{xxxlsizeleft,jdbcType=INTEGER}, #{xxxlsizemodify,jdbcType=INTEGER}, 
      #{xxxlsizenumber,jdbcType=INTEGER}, #{xxlsizeleft,jdbcType=INTEGER}, #{xxlsizemodify,jdbcType=INTEGER}, 
      #{xxlsizenumber,jdbcType=INTEGER}, #{xlsizeleft,jdbcType=INTEGER}, #{xlsizemodify,jdbcType=INTEGER}, 
      #{xlsizenumber,jdbcType=INTEGER}, #{lsizeleft,jdbcType=INTEGER}, #{lsizemodify,jdbcType=INTEGER}, 
      #{lsizenumber,jdbcType=INTEGER}, #{msizeleft,jdbcType=INTEGER}, #{msizemodify,jdbcType=INTEGER}, 
      #{msizenumber,jdbcType=INTEGER}, #{ssizeleft,jdbcType=INTEGER}, #{ssizemodify,jdbcType=INTEGER}, 
      #{ssizenumber,jdbcType=INTEGER}, #{orderdate,jdbcType=DATE}, #{stylename,jdbcType=VARCHAR}, 
      #{styleid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nt.erp.model.Info" >
    update infos
    set totalsizeleft = #{totalsizeleft,jdbcType=INTEGER},
      totalsizemodify = #{totalsizemodify,jdbcType=INTEGER},
      totalsizenumber = #{totalsizenumber,jdbcType=INTEGER},
      xxxlsizeleft = #{xxxlsizeleft,jdbcType=INTEGER},
      xxxlsizemodify = #{xxxlsizemodify,jdbcType=INTEGER},
      xxxlsizenumber = #{xxxlsizenumber,jdbcType=INTEGER},
      xxlsizeleft = #{xxlsizeleft,jdbcType=INTEGER},
      xxlsizemodify = #{xxlsizemodify,jdbcType=INTEGER},
      xxlsizenumber = #{xxlsizenumber,jdbcType=INTEGER},
      xlsizeleft = #{xlsizeleft,jdbcType=INTEGER},
      xlsizemodify = #{xlsizemodify,jdbcType=INTEGER},
      xlsizenumber = #{xlsizenumber,jdbcType=INTEGER},
      lsizeleft = #{lsizeleft,jdbcType=INTEGER},
      lsizemodify = #{lsizemodify,jdbcType=INTEGER},
      lsizenumber = #{lsizenumber,jdbcType=INTEGER},
      msizeleft = #{msizeleft,jdbcType=INTEGER},
      msizemodify = #{msizemodify,jdbcType=INTEGER},
      msizenumber = #{msizenumber,jdbcType=INTEGER},
      ssizeleft = #{ssizeleft,jdbcType=INTEGER},
      ssizemodify = #{ssizemodify,jdbcType=INTEGER},
      ssizenumber = #{ssizenumber,jdbcType=INTEGER},
      orderdate = #{orderdate,jdbcType=DATE},
      stylename = #{stylename,jdbcType=VARCHAR},
      styleid = #{styleid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, totalsizeleft, totalsizemodify, totalsizenumber, xxxlsizeleft, xxxlsizemodify, 
    xxxlsizenumber, xxlsizeleft, xxlsizemodify, xxlsizenumber, xlsizeleft, xlsizemodify, 
    xlsizenumber, lsizeleft, lsizemodify, lsizenumber, msizeleft, msizemodify, msizenumber, 
    ssizeleft, ssizemodify, ssizenumber, orderdate, stylename, styleid
    from infos
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, totalsizeleft, totalsizemodify, totalsizenumber, xxxlsizeleft, xxxlsizemodify, 
    xxxlsizenumber, xxlsizeleft, xxlsizemodify, xxlsizenumber, xlsizeleft, xlsizemodify, 
    xlsizenumber, lsizeleft, lsizemodify, lsizenumber, msizeleft, msizemodify, msizenumber, 
    ssizeleft, ssizemodify, ssizenumber, orderdate, stylename, styleid
    from infos
  </select>
</mapper>